.git
**/.next
**/.next-e2e
**/.pnpm-store
**/coverage
**/playwright-report
**/test-results
**/dist
**/node_modules
**/*.spec.ts
**/test
docs
scripts
**/*.md
packages/database/src/generated
*.log
*.dump
*.dump.gpg
*.dump.gpg.sha256
*.dump.gpg.metadata.json
backups
.env
.env.*
!.env.example
