server {
    listen 80;
    listen [::]:80;
    server_name ${BILLING_HOST};

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/webhost-billing-staging/acme;
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 404;
    }
}
