IMAGE_TAG=replace-with-release-commit
COMPOSE_PROJECT_NAME=webhost-billing-staging
BILLING_HOST=my.speedhost.bd
API_HOST=my.speedhost.bd
PRODUCTION_SECRET_DIRECTORY=/srv/webhost-billing-staging/secrets

POSTGRES_DB=webhost_billing_staging
POSTGRES_USER=webhost_billing_staging
BULLMQ_PREFIX=webhost-billing-staging

STAGING_WEB_PORT=19500
STAGING_API_PORT=19600
STAGING_SMTP_HOST=my.speedhost.bd

EMAIL_BRAND_NAME=Webhost Billing
EMAIL_BRAND_COLOR=#0891b2
EMAIL_FROM_ADDRESS=billing@my.speedhost.bd
EMAIL_FROM_NAME=Webhost Billing Staging
EMAIL_REPLY_TO_ADDRESS=
EMAIL_WORKER_CONCURRENCY=2
SMTP_HOST=my.speedhost.bd
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_REQUIRE_TLS=true
